@import url("https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tsukimi {
  font-family: "Tsukimi Rounded", sans-serif;
}


.not-flipped{
  transition: all ease-in 0.2s;
  transition-delay: 0s;
}

.flipped{
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.not-flipped-back{
  transition: all ease-in 0.2s;
  transition-delay: 0s;
}

.not-flipped-back:hover{
  scale: 1.05;
  -ms-transform-origin-x: 0;
  opacity: 0.9;
}

.flipped-back{
  transform: rotateY(90deg);
  transition-delay: 0s;
}